{% if charset %}<meta charset="{{ charset }}" />{% endif %}
<article class="h-entry h-manifold-note">
<a class="u-uid" href="{{ note['uid'][0] }}" >{{ note['uid'][0] }}</a>

<time class="dt-published" datetime="{{ note['published'][0] }}">{{ note['published'][0] }}</time>

{% if note['edited'] %}<ol>
{% for dt in note['edited'] %}
 <li><time class="dt-edited" datetime="{{ dt }}" >{{ dt }}</time></li>
{% endfor %}
</ol>{% endif %}

{% if note['in-reply-to'] %}In reply to:<ol>
{% for link in note['in-reply-to'] %}
	<li><a class="u-in-reply-to" href="{{ link }}">{{ link }}</a></li>
{% endfor %}
</ol>{% endif %}

{% if note['repost-of'] %}Repost of:<ol>
{% for link in note['repost-of'] %}
	<li><a class="u-repost-of" href="{{ link }}">{{ link }}</a></li>
{% endfor %}
</ol>{% endif %}

{% if note['like-of'] %}Like-of:<ol>
{% for link in note['like-of'] %}
	<li><a class="u-like-of" href="{{ link }}">{{ link }}</a></li>
{% endfor %}
</ol>{% endif %}

{% if note['bookmark-of'] %}Bookmark-of:<ol>
{% for link in note['bookmark-of'] %}
	<li><a class="u-bookmark-of" href="{{ link }}">{{ link }}</a></li>
{% endfor %}
</ol>{% endif %}

<div class="p-name p-content">{{ note['content'][0] }}</div>

{% if note['photo'] %}Photos:<ol>
{% for link in note['photo'] %}
	<li><img class="u-photo" src="{{ link }}" /></li>
{% endfor %}
</ol>{% endif %}

{% if note['audio'] %}Audios:<ol>
{% for link in note['audio'] %}
	<li><audio class="u-audio" src="{{ link }}" /></li>
{% endfor %}
</ol>{% endif %}

{% if note['video'] %}Videos:<ol>
{% for link in note['video'] %}
	<li><video class="u-video" src="{{ link }}" /></li>
{% endfor %}
</ol>{% endif %}

{% if note['syndication'] %}Syndicated-to:<ul>
{% for link in note['syndication'] %}
	<li><a class="u-syndication" href="{{ link }}">{{ link }}</a></li>
{% endfor %}
</ul>{% endif %}

{% if note['category'] %}Categories:<ul>
{% for category in note['category'] %}
	<li class="p-category">{{ category }}</li>
{% endfor %}
</ul>{% endif %}

</article>
